<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mars-techs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mars-techs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <ion-icon name="person-circle-sharp"></ion-icon>
      </ion-avatar>
      <ion-label (click)="userDetails(user)">
        <h2>{{user.name}}</h2>
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>